.registration {
  margin-bottom: 55px;

  &__form {
    margin-bottom: 80px;
  }

  &__title {
    margin-bottom: 40px;
    font-size: 32px;
    letter-spacing: 0.48px;
    font-weight: 700;
    padding-left: 32px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    padding-left: 8px;
  }

  &__filters {
    margin-bottom: 44px;
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 48px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0 24px;

    &--bifurcation {
      .registration__item {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }

  &__bifurcation {
    display: flex;
    gap: 24px;
  }

  &__item {
    &--two {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 24px;
    }

    &--photo {
      margin-top: 22px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-self: flex-start;
    }
  }

  &__password {
    position: relative;
  }

  &__control {
    @include bg;
    @include top50;
    right: 16px;
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/eye.svg");
    transition: opacity .3s;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  &__btn {
    align-self: flex-end;
    margin-top: 55px;
    padding: 17px 30px;
    &:disabled {
      pointer-events: none;
      opacity: .6;
    }
  }

  &__label {
    margin-bottom: 0;
    cursor: pointer;
  }
}