.registration {
  margin-bottom: 55px;

  &__form {
    margin-bottom: 80px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
    padding-left: 8px;
    @include r($lg) {
      font-size: 18px;
    }
  }

  &__filters {
    margin-bottom: 44px;
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 48px;
    @media (max-width: 1460px) {
      padding-left: 22px;
      grid-gap: 70px;
    }
    @media (max-width: 1350px) {
      grid-gap: 50px;
    }
    @media (max-width: 1300px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px 50px;
    }
    @media (max-width: 1100px) {
      padding-left: 10px;
    }
    @include r($lg) {
      grid-gap: 40px 30px;
    }
    @media (max-width: 900px) {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 18px;
    }
    @include r($tablet) {
      padding-left: 0;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0 24px;
    @media (max-width: 1460px) {
      padding: 0;
    }

    &--bifurcation {
      .registration__item {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }

  &__bifurcation {
    display: flex;
    gap: 24px;
    @media (max-width: 900px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      max-width: 600px;
    }
    @media (max-width: 530px) {
      grid-gap: 17px;
    }
    @include r($phone) {
      grid-gap: 40px;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    &--two {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 24px;
      @media (max-width: 530px) {
        grid-gap: 17px;
      }
      @include r($phone) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &--photo {
      margin-top: 22px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-self: flex-start;
      @media (max-width: 900px) {
        margin-top: 0;
        margin-bottom: 25px;
      }
    }
  }

  &__password {
    position: relative;
  }

  &__control {
    @include bg;
    @include top50;
    right: 16px;
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../images/icons/eye.svg");
    transition: opacity .3s;
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  &__btn {
    align-self: flex-end;
    margin-top: 55px;
    padding: 17px 30px;
    border-radius: 16px;
    @media (max-width: 1300px) {
      align-self: flex-start;
      margin-top: 25px;
    }

    &:disabled {
      pointer-events: none;
      opacity: .6;
    }

    &--delete {
      transition: color .4s, background-color .4s;
      background-color: transparent;
      border: 2px solid $red;
      color: $white;

      &:hover {
        background-color: $red;
        border-color: $red;
      }
    }
  }

  &__label {
    margin-bottom: 0;
    cursor: pointer;
  }

  &__actions {
    justify-content: flex-end;
    display: flex;
    gap: 32px;
    margin-top: 55px;

    .registration__btn {
      margin-top: 0;
    }

    @media (max-width: 1400px) {
      margin-top: 45px;
    }
    @media (max-width: 1300px) {
      justify-content: flex-start;
      margin-top: 40px;
    }
    @include r($desktop) {
      margin-top: 30px;
    }
    @include r($tablet) {
      gap: 24px;
      margin-top: 25px;
    }
    @media (max-width: 450px) {
      flex-direction: column;
      gap: 16px;
      .registration__btn {
        width: 100%;
      }
    }
  }
}