.error {
  color: $red;
  display: none;
  margin-top: 12px;
  font-weight: 400;
  font-size: 14px;

  &__registration {
    margin-top: -4px;
    margin-bottom: 8px;
    padding-left: 8px;
  }

  &__files {
    margin-top: 0;
    padding-left: 8px;
  }

  &--active {
    display: block;
  }
}