.field {
  background-color: #313033;
  font-weight: 600;
  padding: 14px 16px;
  display: block;
  border: 2px solid transparent;
  width: 100%;
  font-size: 14px;
  line-height: 1;
  border-radius: 14px;
  color: $white;
  transition: color .3s, opacity .3s, background-color .3s;

  &--password {
    padding-right: 48px;
  }

  &:hover {
    &::placeholder {
      color: $white;
    }
  }

  &:focus {
    background-color: transparent;
    border-color: #313033;
  }

  &::placeholder {
    color: #939094;
    transition: color .3s;
  }
}

.textarea {
  min-height: 250px;
  max-height: 320px;
  resize: vertical;
  font: inherit;
  font-size: 14px;

  &--big {
    min-height: 250px;
  }
}

.label {
  font-size: 14px;
  color: $gray100;
  padding: 8px;
  margin-bottom: 8px;
  display: inline-block;
  font-weight: 500;
  font-family: $inter;
  @include r($lg) {
    margin-bottom: 2px;
  }
}

.jq-ry-container {
  padding: 0;
}

.error {
  color: $red;
  display: none;
  margin-top: 12px;
  font-weight: 400;
  font-size: 14px;

  &__registration {
    margin-top: -4px;
    margin-bottom: 8px;
    padding-left: 8px;
  }

  &__files {
    margin-top: 0;
    padding-left: 8px;
  }

  &__filters {
    margin-bottom: 14px;
  }

  &--active {
    display: block;
  }
}