.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 24px;
  background-color: $black200;
  padding: 32px;
  max-width: 425px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -70%);
  transition: opacity .6s, transform .6s;

  &--active {
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: auto;
    z-index: 100;
  }

  &--choice {
    max-width: 290px;
    padding: 24px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.36px;
    color: #FFFBFF;
    margin-bottom: 32px;

    &--main {
      font-size: 22px;
      color: #E6E1E6;
      margin-bottom: 16px;
      padding-bottom: 16px;
      display: block;
      border-bottom: 2px solid #313033;
    }
  }

  &__buttons {
    display: flex;
    gap: 8px;

    &--choice {
      gap: 16px;
    }
  }

  &__btn {
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    color: #1C1B1E;
    border-radius: 12px;
    padding: 14.5px 16px;
    border: 2px solid transparent;
    transition: color .4s, opacity .4s, background-color .4s;

    &:hover {
      background-color: transparent;
      color: $white;
    }

    &:focus {
      opacity: .5;
    }

    &-forward {
      margin-left: 8px;
      padding-bottom: 2px;
      color: $gray100;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      border-bottom: 1px solid $gray100;
      margin-bottom: 40px;
      transition: color .3s, opacity .3s, border .3s;

      &:hover {
        color: $white;
        border-color: $white;
      }
    }

    &--accent {
      background-color: $accent;

      &:hover {
        border-color: $accent;
      }
    }

    &--model {
      background-color: $red;

      &:hover {
        border-color: $red;
      }
    }

    &--gray {
      border-color: $gray100;
      color: $gray100;

      &:hover {
        border-color: $accent;
        color: $accent;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 22px;
  }
}